body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1F2937;
}

.right-side {
    display: flex;
    margin-left: auto;
    gap: 16px;
    list-style: none;
    padding: 10px;
}

.header-bottom {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
}

.text {
    flex-direction: column;
    flex-flow: column wrap;
    max-width: 350px;
    color: white;
    font-size: 24px;
    padding: 60px 10px;
}

.sign-up {
    background-color: blue;
    color: white;
   padding: 8px;
}
a {
    color: white;
    font-size: 22px;
}

img {
    max-width: 150px;
    max-height: auto;
    padding: 10px;
}