body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
}

.top, 
.bottom {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
}

.right-side {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 10px;
}

.cap {
    max-width: 100px;
    max-height: auto;
}

.learn {
    width: 300px;
    height: 200px;
}

.text {
    flex-direction: column;
    flex-flow: column wrap;
    max-width: 350px;
    color: white;
    font-size: 24px;
    padding: 60px 10px;
}

.sign-up {
    background-color: blue;
    color: white;
    padding: 8px;
    border: solid white 4px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two-header {
    text-align: center;
    margin: 20px auto;
    font-size: 22px;
    font-weight: bold;
}

.image-list {
    display: flex;
    justify-content: center;
    max-width: 700px;
    gap: 30px;
    padding-bottom: 20px;
}

.caption {
    text-align: center;
    max-width: 100px;
}


.balloon {
    width: 80px;
    height: 100px;
    background-color: rgb(179, 205, 228);
    border-radius: 1em;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-container {
    width: 500px;
    display: flex;
    flex-flow: column wrap;
    padding: 100px;
    align-content: space-between;
    font-style: italic;
    row-gap: 20px;
}

.quote-cite {
    align-self: flex-end;
}

.section-four {
    padding: 30px;
    background-color: white;
}

.button-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 50px 20px;
    color: white;
}

.up {
     background-color: #3882f6;
     color: white;
     border: solid white 3px;
     padding: 0;
     flex-shrink: 0;
}

.big, 
.small {
    padding: 6px;
}

.big {
    font-size: 20px;
}

.small {
    font-size: 12px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    padding: 30px;
    color: white;
}

a {
    color: white;
    font-size: 22px;
}
